---
layout: default
title: SSC7 Rules
permalink: /ssc7/
emoji: 7️⃣
order: 1
short_description: 7th Edition of Suno Song Contest
classname: home
tag: contest-edition
---

{% assign pages = site.pages | sort: 'order' %}

<h1>Suno Song Contest 7</h1>

<p>
  <b>The rules below should explain everything you need to know about SSC7!</b>
</p>

<p>
  <b>Important Links:</b>
</p>

<ul>
  <li>Follow the <b>announcements channel</b> on the SSC discord server to get notifications about voting periods, live stream times, and other official announcements: <a href="https://discord.gg/d6XERJc53G" target="_blank">Here</a></li>
  <li>Join us on Twitch for the <b>weekly Live Streams</b> where we listen to all the songs live and dance in chat emojis: <a href="https://www.twitch.tv/sunosongcontest" target="_blank">Here</a></li>
</ul>

<p>
  If you have any questions, check out the “<i>Frequently Asked Questions</i>” below, or contact an official committee's member (more info <a href="./committee">here</a>)
</p>

<h2 class="rules-h">Guides</h2>
<div class="pages">
    {% for page in pages %}
        {% if page.path contains 'ssc7/' page.title and page.emoji and page.tag and page.tag == 'guide' %}
        <a href="{{ page.url | prepend: site.baseurl }}">
            <span class="emoji">{{ page.emoji }}</span>
            <b>{{ page.title }}</b>
            <i>{{ page.short_description }}</i>
        </a>
        {% endif %}
    {% endfor %}
</div>

<!--
<h2 class="rules-h">Tools</h2>
<div class="pages">
    {% for page in pages %}
        {% if page.path contains 'ssc6/tools/' and page.title and page.emoji and page.tag == 'tool' %}
        <a href="{{ page.url | prepend: site.baseurl }}">
            <span class="emoji">{{ page.emoji }}</span>
            <b>{{ page.title }}</b>
            <i>{{ page.short_description }}</i>
        </a>
        {% endif %}
    {% endfor %}
</div>
-->
