---
layout: default
classname: home
---

{% assign pages = site.pages | sort: 'order' %}

<h1>Welcome to Suno Song Contest!</h1>
<p>
    We’re excited to have you here to contribute your creativity, 
    connect with friends all around the world, and appreciate inspiring music!
    <br><br>
</p>

<h2 class="rules-h">Editions</h2>
<div class="pages">
    {% for page in pages %}
        {% if page.title and page.emoji and page.tag and page.tag == 'contest-edition' %}
        <a href="{{ page.url | prepend: site.baseurl }}">
            <span class="emoji">{{ page.emoji }}</span>
            <b>{{ page.title }}</b>
            <i>{{ page.short_description }}</i>
        </a>
        {% endif %}
    {% endfor %}
</div>
<h2 class="rules-h">Tools</h2>
<div class="pages">
    {% for page in pages %}
        {% if page.path contains 'ssc6/tools/' and page.title and page.emoji and page.tag == 'tool' %}
        <a href="{{ page.url | prepend: site.baseurl }}">
            <span class="emoji">{{ page.emoji }}</span>
            <b>{{ page.title }}</b>
            <i>{{ page.short_description }}</i>
        </a>
        {% endif %}
    {% endfor %}
</div>
<!-- OLD
<h2 class="rules-h">Results</h2>
<div class="pages">
    {% for page in pages %}
        {% if page.path contains 'ssc6/results/' and page.title and page.emoji and page.tag == 'week-result' %}
        <a href="{{ page.url | prepend: site.baseurl }}">
            <span class="emoji">{{ page.emoji }}</span>
            <b>{{ page.title }}</b>
            <i>{{ page.short_description }}</i>
        </a>
        {% endif %}
    {% endfor %}
</div>
-->
